main {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-self: center;
  padding: 40px 60px;
  width: 100%;
  max-width: 1570px;

  @media screen and (max-width: $hd) {
    grid-template-columns: repeat(2, 1fr);
    padding: 26px;
  }

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    padding: 26px;
  }

  @media screen and (max-width: $phone) {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 34px 20px 20px 32px;
  }
}

.card-wrapper {
  position: relative;
  min-height: 161px;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.15));
  overflow: hidden;

  @media screen and (max-width: $phone) {
    min-height: 144px;
  }

  @media screen and (max-width: $tablet) {
    min-height: 130px;
  }

  &:hover {
    @media screen and (min-width: $hd) {
      background-color: $red;
      filter: none;

      &::before {
        content: '';
        position: absolute;
        display: block;
        top: calc(50% - 10px);
        left: -3px;
        width: 0;
        height: 0;
        border: 10px solid $asideColor;
        border-top-color: $red;
        border-right-color: $red;
        border-bottom-color: $red;
        border-left-width: 10px;
        box-sizing: border-box;
        z-index: 0;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: calc(50% - 10px);
        right: -3px;
        width: 0;
        height: 0;
        border: 10px solid $asideColor;
        border-top-color: $red;
        border-left-color: $red;
        border-bottom-color: $red;
        box-sizing: border-box;
        z-index: 0;
      }
    }
  }
}

.card {
  clip-path: polygon(
    0 0,
    0 calc(50% - 8px),
    8px 50%,
    0% calc(50% + 8px),
    0 100%,
    100% 100%,
    100% calc(50% + 8px),
    calc(100% - 8px) 50%,
    100% calc(50% - 8px),
    100% 0
  );
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  display: flex;
  padding: 15px 18px;
  background-color: $white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

    .content-title {
      .title-title {
        font-family: Roboto;
        font-style: normal;
        margin-bottom: 4px;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
      .title-description {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0;
        color: $gray;

        @media screen and (max-width: $phone) {
          font-size: 14px;
        }

        @media screen and (max-width: $phone) {
          font-size: 12px;
        }
      }
    }

    .content-discount {
      .discount-content {
        margin-bottom: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 28px;
        color: $red;
      }
      .discount-description {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        color: $gray;
      }
    }
  }

  &-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;

    @media screen and (max-width: $tablet) {
      max-width: 89px;
      max-height: fit-content;
    }

    @media screen and (max-width: $phone) {
      max-height: fit-content;
    }
  }
}
