header {
  position: sticky;
  position: -webkit-sticky;
  grid-row: 1/2;
  grid-column: 2/3;
  top: -75px;
  height: 201px;
  padding: 40px 60px;
  background-color: #fff;
  border-bottom: 1px solid $gray-light;
  overflow: hidden;
  z-index: 2;
  transition: padding 0.1s linear;

  @media screen and (max-width: $hd) {
    height: 181px;
    padding: 30px 27px 27px;
    padding-left: 32px;
  }

  @media screen and (max-width: $phone) {
    top: -65px;
    height: 169px;
    padding: 30px 21px 27px 34px;
  }
}

.is-pinned {
  @media screen and (max-width: $hd) {
    padding-left: 77px;
  }
}

.header-title {
  margin-bottom: 33px;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;

  @media screen and (max-width: $hd) {
    text-align: right;
  }

  @media screen and (max-width: $phone) {
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 32px;
  }
}

.header-input--label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 52px;
  cursor: pointer;
}

.header-input {
  width: 100%;
  min-height: 52px;
  padding: 0 16px;
  padding-left: 48px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 50px;
  outline: none;
  font-size: 18px;
  line-height: 28px;

  @media screen and (max-width: $phone) {
    font-size: 14px;
  }

  &:focus {
    box-shadow: 0 0 5px -1px rgba(26, 57, 235, 0.4);
  }

  &::placeholder {
    color: $gray;
    font-family: $fontMain;
    font-style: normal;
    font-weight: 400;
    font-size: inherit;
    line-height: 28px;
  }
}
