.menu-button {
  display: none;
  position: absolute;
  top: -30px;
  left: calc(100% - 55px);
  width: 106px;
  height: 80px;
  background-color: $asideColor;
  border-radius: 50%;
  z-index: 1;

  @media screen and (max-width: $hd) {
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: -28px;
    right: 33px;
    width: 24px;
    height: 30px;
    border: 0px solid $asideColor;
    border-left-width: 100px;
    border-bottom-left-radius: 120%;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 75px;
    right: 22px;
    width: 30px;
    height: 24px;
    border: 0px solid $asideColor;
    border-left-width: 20px;
    border-top-left-radius: 120%;
  }

  &__active {
    .burger-icon {
      &__line {
        &-top {
          transform: translateY(9px) rotate(225deg);
        }
        &-mid {
          transform: scaleX(0);
        }
        &-bot {
          transform: translateY(-9px) rotate(-225deg);
        }
      }
    }
  }

  .burger-icon {
    position: absolute;
    top: calc(50% - 10px);
    right: 17px;
    height: 20px;
    width: 26px;
    cursor: pointer;

    &__line {
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $black;
      transition: all 0.4s ease-in-out;

      &-top {
        top: 0;
      }
      &-mid {
        top: calc(50% - 1px);
      }
      &-bot {
        bottom: 0;
      }
    }
  }
}
