@import 'menu-button';

aside {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-row: 1/3;
  grid-column: 1/2;
  width: 240px;
  background-color: $asideColor;
  transition: all 0.3s ease-in-out;
  z-index: 10;

  @media screen and (max-width: $hd) {
    width: 104px;
  }

  @media screen and (max-width: $phone) {
    position: fixed;
    top: 0;
    right: calc(100% - 12px);
    bottom: 0;
    width: 198px;
  }
}

.menu-wrapper {
  position: fixed;
  top: 40px;
  width: 240px;
  transition: all 0.3s ease-in-out;
  z-index: 1;

  @media screen and (max-width: $hd) and (min-width: calc($phone + 1px)) {
    width: 104px;
  }

  @media (max-width: $phone) {
    width: 198px;
  }
}

.menu-open {
  width: 240px;

  @media screen and (max-width: $hd) and (min-width: calc($phone)) {
    .menu-wrapper {
      width: 240px;
    }

    .menu-logo--text {
      opacity: 1;
      transition: opacity 0.2s ease-in-out 0.1s;
    }

    .menu-list--item__link {
      opacity: 1;
      transition: opacity 0.2s ease-in-out 0.1s;
    }
  }

  @media screen and (max-width: $phone) {
    width: 198px;
    transform: translateX(calc(100% - 12px));

    .menu-wrapper {
      width: 198px;
    }
  }
}

.menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, 0.3);
  transition: opacity 0.3s ease-in-out;
  z-index: 9;
  opacity: 0;
  pointer-events: none;

  &__active {
    @media screen and (max-width: $phone) {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.menu-logo {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 60px;

  @media screen and (max-width: $phone) {
    margin-left: 19px;
  }

  img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    z-index: 2;

    @media screen and (max-width: $hd) {
      width: 24px;
      height: 24px;
    }
  }

  &--text {
    display: block;
    margin-bottom: -8px;
    color: $black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    transition: opacity 0.2s ease-in-out;

    @media screen and (max-width: $hd) and (min-width: $tablet) {
      opacity: 0;
    }

    @media screen and (max-width: $tablet) {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.menu-list {
  width: 100%;
  list-style: none;

  &--item {
    display: flex;
    width: fit-content;
    padding-left: 40px;
    color: #333;
    font-family: $fontMain;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    box-sizing: border-box;
    opacity: 1;
    user-select: none;
    cursor: pointer;

    .link-wrapper {
      position: relative;
    }

    &__link {
      position: absolute;
      left: 0;
      @media screen and (max-width: $hd) and (min-width: $phone) {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
    }

    @media screen and (max-width: $phone) {
      padding-left: 19px;

      svg {
        display: none;
      }
    }

    svg {
      margin-right: 14px;
      path {
        stroke: $black;
      }
    }

    &:not(:last-child) {
      margin-bottom: 44px;
    }

    &__active {
      color: $blue-active;

      svg > path {
        stroke: $blue-active;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 22px;
        width: 3px;
        background-color: $blue-active;
      }
    }
  }
}
