$white: rgb(255, 255, 255);
$blue-active: rgb(52, 171, 224);
$black: rgb(51, 51, 51);
$gray: rgba(0, 0, 0, 0.45);
$gray-light: rgb(229, 229, 229);
$red: rgb(223, 33, 45);

$content: rgb(250, 250, 250);
$asideColor: rgb(243, 244, 249);

$hd: 1024px;
$tablet: 768px;
$phone: 640px;

$fontMain: 'Open Sans';
$fontSub: 'Roboto';
