@import 'variables';
@import 'menu';
@import 'header';
@import 'content';

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontMain, sans-serif;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

html,
body {
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 100%);
  grid-template-rows: minmax(auto, 201px) auto;
  min-height: 100vh;
  background-color: $content;
  // background-color: $black;
}

.no-scroll {
  @media screen and (max-width: $phone) {
    overflow: hidden;
  }
}
